---

import ProposalCard from './ProposalCard.astro';
import cardsData from './Proposal.json';

---

<div class="proposal" >
  <div class="row">
    <h2>Propuesta</h2>
    {cardsData.map((card, index) => (
      <ProposalCard num={index + 1} text={card.text} title={card.title} />
    ))}
  </div>
</div>