---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import SingleHero from '@/components/Single/SingleHero';
import SingleImage from '@/components/Single/SingleImage';
import SingleImageHero from '@/components/Single/SingleImageHero';
import SingleImagePair from '@/components/Single/SingleImagePair';
import SingleInfo from '@/components/Single/SingleInfo';

import Layout from '@/layouts/Layout';

import imageHero from '../../../assets/images/clientes/sample1.jpg'

import singleImage from '../../../assets/images/clientes/sample1.jpg'

import galeria1 from '../../../assets/images/clientes/galeria_v1.jpg'
import galeria2 from '../../../assets/images/clientes/galeria_v2.jpg'



import comedor1 from '../../../assets/images/clientes/sample_v.jpg'
import comedor2 from '../../../assets/images/clientes/sample_v2.jpg'


---


<Layout title="— Casa Acanforest" >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>

		<section>
			<header>
				<div class="row">

					<h1>— Casa Acanforest</h1>

					<SingleHero
					items={[
						{ title: "Cliente", text: "Lorem impsim lorem" },
						{ title: "Location", text: "Lorem impsim" },
						{ title: "Size", text: "200m2" },
						{ title: "Type", text: "Lorem impsim" },
					]}
					description={[
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate justo vel risus imperdiet luctus vel at dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit vulputate justo vel risus imperdiet luctus vel at dolor. vulputate justo vel risus imperdiet luctus vel at dolor. imperdiet luctus vel at dolor. vulputate justo vel risus imperdiet luctus vel at dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulput.",
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate justo vel risus imperdiet luctus vel at dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit vulputate justo vel risus imperdiet luctus vel at dolor. vulputate justo vel risus imperdiet luctus vel at dolor. imperdiet luctus vel at dolor."
					]} />

				</div>
			</header>

			<SingleImageHero image={imageHero} />

			<SingleInfo
			title="La galeria"
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />

			<SingleImagePair images={[
				{
					image: galeria1,
					title: "Quintessa Estate",
					subtitle: "CALIFORNIA"
				},
				{
					image: galeria2,
					title: "Quintessa Estate",
					subtitle: "CALIFORNIA",
					parallax: '0.07'
				}
			]}/>

		<SingleInfo
		text={[
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		]} />
			<SingleImage image={singleImage} />

			<SingleInfo
			title="El comedor"
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />

			<SingleImagePair images={[
				{
					image: comedor1,
					title: "Quintessa Estate",
					subtitle: "CALIFORNIA"
				},
				{
					image: comedor2,
					title: "Quintessa Estate",
					subtitle: "CALIFORNIA",
					parallax: '0.07'
				}
			]}/>

			<SingleInfo
			text={[
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, turpis pretium varius suscipit, lectus est interdum turpis, a ullamcorper felis ipsum eu neque. Fusce vitae sapien sed dolor tempor convallis. Nulla id velit nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dapibus aliquam dapibus. Pellentesque at consectetur nibh, scelerisque iaculis massa. Vestibulum elit dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
			]} />


		</section>

		<CallToAction />
		<Footer />

	</main>
</Layout>

<style>

section {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
header{
	margin-bottom: 10px;
}

h1{
	font-weight: 400;
	font-size: 28px;
	margin: 2px 0 20px;
}
h2{
	font-weight: 300;
	font-size: 18px;
	margin: 3px 0 25px;
	b{
		font-weight: 400;
	}

}
p{
	font-size: 16px;
	line-height: 1.6;
	color: #565656;
}
section{
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

	section {
		gap: 80px;
	}
	header{
		padding: 40px 0 0;
	}
	h1{
		font-weight: 300;
		font-size: 66px;
		margin: 2px 0 50px;
	}
	h2{
		font-weight: 200;
		font-size: 62px;
	}
	p{
		color: #444;
		font-size: 22px;
		line-height: 1.5;
		font-weight: 300;
		margin: 40px 0 0 120px;
	}
}

</style>




