---

const { text, title } = Astro.props;
---
<div class="row">
  <div class="mod">
    <div class="mod_title">
      { title &&  <h3 class="title">{title}</h3>}
    </div>



      {text && text.length > 0 && (
        <div class="mod_info">
          {text.map((paragraph) => (
            <p >{paragraph}</p>
          ))}
        </div>
      )}



  </div>
</div>


<style>
.mod{
  border-top: 1px solid rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
h3{
 font-size: 19px;
 font-weight: 400;
}
.mod_info{
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .mod{
    flex-direction: row;
    padding-top: 15px;
    margin-bottom: 20px;
  }
  .mod_title{
    flex: 0 0 400px;
  }
  h3{
    font-size: 30px;
  }
  .mod_info{
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 5px;
  }
}
</style>