---

---

<div class="image_hero">
  <figure>
    <img src="/images/clientes/sample1.jpg" alt="imagen" width="1360" height="600" >
  </figure>
  <div class="row">
    <span><b>Quintessa Estate</b> CALIFORNIA</span>
  </div>
</div>
<style>
  figure{
    width: 100%;
  }
  img{
    object-fit: cover;
    width: 100%;
  }
  span{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.12em;
    margin: 12px 0 0;
    display: block;
    b{
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 0;
    }
  }
</style>