---
import { Image } from "astro:assets";

const { image , title ,subtitle } = Astro.props

---
<div class="row">
  <figure>

    <Image
            class="img"
            src={image}
            width={image.width}
            densities={[1.5, 2]}
            alt=`${title || ''} ${subtitle || ''}`
          />
  </figure>
    <span>{title && <b>{title}</b>} {subtitle && subtitle}</span>
</div>

<style>
  figure{
    width: 100%;
    aspect-ratio: 16 / 9; /* Proporción deseada */
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover; /
  }
  span{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.12em;
    margin: 12px 0 0;
    display: block;
    text-transform: uppercase;
    b{
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 0;
      text-transform: none;
    }
  }
  .row{
    width: 100%;
    box-sizing: border-box;
  }
</style>
