---
const { items, description } = Astro.props;
---

<div class="hero">
  <div class="info">
    {items.map((item) => (
      <div class="item">
        <span class="title">{item.title}</span>
        <p>{item.text}</p>
      </div>
    ))}
  </div>
  <div class="description">
    {description.map((para) => (
      <p>{para}</p>
    ))}
  </div>
</div>




<style>

  .hero{
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    gap: 20px;
  }

 .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
 .title{
  color: #6E6E6E;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
 }
 .item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 16px;
 }
 .description{
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    gap: 20px;
    flex-direction: column;
 }
 @media screen and (min-width: 768px) {

  .hero{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .info {
    flex: 0 0 400px;
  }
  /* .title{
    font-size: 19px;
    font-weight: 400;
  } */
  .info{
      gap: 20px;
  }
  .item{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
  }
  .description{
    font-size: 19px;
    font-weight: 300;
    line-height: 1.4;
  }
 }
</style>