---

---
<div class="row">
  <figure>
    <img src="/images/clientes/sample1.jpg" alt="imagen" width="1030" height="685" >
  </figure>
    <span><b>Quintessa Estate</b> CALIFORNIA</span>
</div>

<style>
  figure{
    width: 100%;
  }
  img{
    object-fit: cover;
    width: 100%;

  }
</style>