---
import { Image } from "astro:assets";

const { image } = Astro.props



---

<div class="image_hero">
  <figure>
    <Image
            class="img"
            src={image}
            width={image.width / 2}
            densities={[1.5, 2]}
            alt="Somos un estudio de arquitectura"
          />

  </figure>
  <div class="row">
    <span><b>Quintessa Estate</b> CALIFORNIA</span>
  </div>
</div>
<style>
   figure{
    width: 100%;
    aspect-ratio: 16 / 9; /* Proporción deseada */
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover; /

  }
  span{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.12em;
    margin: 12px 0 0;
    display: block;
    b{
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 0;
    }
  }
</style>