---

---
<div class="row">
  <figure>
    <img src="/images/clientes/sample1.jpg" alt="imagen" width="1030" height="685" >
  </figure>
    <span><b>Quintessa Estate</b> CALIFORNIA</span>
</div>

<style>
  figure{
    width: 100%;
    aspect-ratio: 16 / 9; /* Proporción deseada */
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover; /
  }
  span{
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.12em;
    margin: 12px 0 0;
    display: block;
    b{
      font-weight: 300;
      font-size: 17px;
      letter-spacing: 0;
    }
  }
</style>
