---

---

<div class="ideaprompt">
  <div class="row">
    <h3>¿Tenes un proyecto en mente?</h3>
    <p>Nos encantaría conocer tus ideas.</p>
    <a href="/presupuesto" class="btn-primary" title="Presupuesto">Presupuesto</a>
  </div>
</div>

<style>
  .ideaprompt{
    text-align: center;
    padding: 45px 0 40px;
  }

  h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  p{
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 30px;
  }
  a{
    display: inline-block;
  }

  @media screen and (min-width: 768px) {
    .ideaprompt{
      padding: 70px 0;
    }
    .row{
      text-align: center;
      gap: 20px;
    }
    h3{

      font-size: 52px;
      line-height: 52px;
    }
    p{

      font-size: 35px;
      line-height: 40px;
      margin-bottom: 30px;
    }

  }
</style>