---
export interface Props{
  title: string;
  text: string;
}

const { text, title } = Astro.props;
---

<div class="services_item">
  <h3>{title}</h3>
  <p>{text}</p>
</div>

<style>
  h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.03em;

  }
  .services_item{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  p{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  @media screen and (min-width: 768px) {
    h3 {
      font-weight: 400;
      font-size: 33px;
      line-height: 40px;
      letter-spacing: -0.03em;
    }
  }
</style>