---
import ServiceData from './Service.json'
import ServiceCard from './ServiceCard.astro'
---



<div class="services">
  <div class="row"  id="parent">
    <div class="col sticky" id="sticky">
      <h2>Servicios</h2>
    </div>
    <div class="col">
      <!-- ServiceData -->
      {ServiceData.map((card) => (
        <ServiceCard text={card.text} title={card.title} />
      ))}

    </div>
  </div>
</div>



<style>

  .services{
    padding: 40px 0 ;
  }
  h2{
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 25px;
  }
  .services{
    background: black;
    color: white;
  }
  .row {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .col{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  @media screen and (min-width: 768px) {
    .services{
      padding: 50px 0 ;
    }
    .row {
      flex-direction: row;
    }
    .col{
      flex: 1;
      box-sizing: border-box;
      /* padding: 0; */
      gap: 60px;
      width: 50%;
    }
    .sticky {
      height: 60px ;
      position: sticky;
      top: 90px;
      margin: 0 0 50px;
    }
    h2{
      font-size: 70px;
      font-weight: 400;
    }

}

</style>