---

---



<div class="services">
  <div class="row"  id="parent">
    <div class="col sticky" id="sticky">
      <h2>Services</h2>
    </div>
    <div class="col">
      <div class="services_item">
        <h3>— Obra nueva</h3>
        <p>Somos un estudio de arquitectura especializado en proyectos de obra nueva. Desde viviendas hasta edificios comerciales, diseñamos espacios únicos que combinan creatividad, funcionalidad y sostenibilidad para satisfacer las necesidades y deseos de nuestros clientes.</p>
      </div>
      <div class="services_item">
        <h3>— Obra nueva</h3>
        <p>Somos un estudio de arquitectura especializado en proyectos de obra nueva. Desde viviendas hasta edificios comerciales, diseñamos espacios únicos que combinan creatividad, funcionalidad y sostenibilidad para satisfacer las necesidades y deseos de nuestros clientes.</p>
      </div>
      <div class="services_item">
        <h3>— Obra nueva</h3>
        <p>Somos un estudio de arquitectura especializado en proyectos de obra nueva. Desde viviendas hasta edificios comerciales, diseñamos espacios únicos que combinan creatividad, funcionalidad y sostenibilidad para satisfacer las necesidades y deseos de nuestros clientes.</p>
      </div>
      <div class="services_item">
        <h3>— Obra nueva</h3>
        <p>Somos un estudio de arquitectura especializado en proyectos de obra nueva. Desde viviendas hasta edificios comerciales, diseñamos espacios únicos que combinan creatividad, funcionalidad y sostenibilidad para satisfacer las necesidades y deseos de nuestros clientes.</p>
      </div>
    </div>
  </div>
</div>

<style>

  .services{
    background: black;
    color: white;
  }

.row {
  display: flex;
  gap: 5px;
}
.sticky {
  height: 60px ;
  position: sticky;
  top: 0;
}
.col{
  flex: 1;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}


</style>