---
---
<div class="hamburger hide-desktop">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.line {
  display: block;
  width: 30px;
  height: 1px;
  margin-bottom: 9px;
  background-color: #fff;
}


@media screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }
}
</style>