---
import Hamburger from "./Hamburger.astro";

const links = [
  { href: '/', text: 'Home' },
  { href: '/estudio', text: 'Estudio' },
  { href: '/proyectos', text: 'Proyectos' },
  { href: '/contacto', text: 'Contacto' },
];

const currentPath = Astro.url.pathname;
const { class: className } = Astro.props;

---
<header class={className} >
  <div class="row">

    <a href="/" class="logo" title="CS arquitectura">
      <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1172 49.0699V1.00699" stroke="white"/>
        <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
      </svg>

      <span class="logo-text">CS Arquitectura</span>
    </a>

    <div class="header-right hide-mobile">

      <nav >
        <!-- <a href="/estudio" class="nav-a" title="Estudio">Estudio</a>
        <a href="/proyectos" class="nav-a" title="Proyectos">Proyectos</a>
        <a href="/contacto" class="nav-a" title="Contacto">Contacto</a> -->

        {
          links.map(({ href, text }) => (
            <div>
              <a
                href={href}
                class="nav-a"
              >
                {text}
              </a>

              {currentPath === href ? (
                <div
                  transition:name="menu-line"
                  class="navline active"
                />
              ) : (
                <div class="navline" />
              )}
              {/* <div class="border-b-2 border-blue-500 mx-4" /> */}
            </div>
          ))
        }
      </nav>

      <a href="https://docs.google.com/forms/d/1Y2iOTg5PdUz4IUecq2LxIk8XFKfvmcMRzRZ_SaVLEtg/viewform?fbclid=PAZXh0bgNhZW0CMTEAAaZsD0xcidkVe6R_G9msWLb3_Q11yHuWWTC58BMOfmdkDvBb23g22TElYFU_aem_OYF7KxGs1Y4z9pRBbJKsfw&edit_requested=true" target="_blank" class="btn-primary" title="Presupuesto">Presupuesto</a>
    </div>

    <Hamburger />
  </div>

</header>


<style>
  .header{
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: none;

  }

  .logo-svg{
    height: 35px;
    width: auto;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;



    path {
      stroke: black;
    }
  }
  .logo-text{
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    /* margin: 2px 0 0; */
  }

  .header-home{
    color: white;
    path{
      stroke: white;
    }
  }
  .header-before{
    background: white;
    color: black;
    padding: 10px 0;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
    path{
      stroke: black;
    }
  }
  .header-before {
  .line{
    background: #000;
  }
}


  @media screen and (min-width: 768px) {
    .header-right {
      display: flex;
      gap: 25px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1em;
    }
    .logo-svg{
      height: 48px;
      width: auto;
    }
    .logo-text{
      font-size: 22px;
    }
    nav {
      gap: 25px;
      display: flex;
      align-items: center;
    }

    .header-before{
      .logo-svg{
        height: 41px;
        padding: 5px 0;
        width: auto;
      }
  }
  .navline{
    width: 35px;
    height: 2px;
    background: transparent;
    margin: 5px 0 0;

    &.active{
      background: #B49F7F;
    }
  }
}

</style>

