---

---
<header class="header">
  <div class="row">

    <a href="/" class="logo" title="CS arquitectura">
      <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1172 49.0699V1.00699" stroke="white"/>
        <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
      </svg>

      <span class="logo-text">CS arquitectura</span>
    </a>

    <div class="header-right">

      <nav>
        <a href="/estudio" class="nav-a" title="Estudio">Estudio</a>
        <a href="/proyectos" class="nav-a" title="Proyectos">Proyectos</a>
        <a href="/Contacto" class="nav-a" title="Contacto">Contacto</a>
      </nav>

      <a href="/presupuesto" class="btn-primary" title="Presupuesto">Presupuesto</a>
    </div>
  </div>

</header>


<style>
  .header{
    width: 100%;
    z-index: 10;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
  }
  nav {
    gap: 15px;
    display: flex;
    align-items: center;
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;

    path {
      stroke: black;
    }
  }
  .logo-text{
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
  }

</style>

