---
import Header from '@/components/Common/Header/Header';

import Layout from '@/layouts/Layout';


---

<Layout title="Contacto | Estudio de Arquitectura en Pilar" >
	<main>
		<Header class={'header invert'} />

		<div class="center">
			<div class="row">
			<h1>Contactanos !</h1>
			<div class="text">
				<a href="callto:0111534813219" title="011 15 34813219">011 15 34813219</a>
				<a href="mailto:hcsarquitectas@gmail.com" title="csarquitectas@gmail.com">csarquitectas@gmail.com</a>
				<a href="https://www.instagram.com/cs.arqs" title="instagram de CS Arqs" target="_blank">@cs.arqs</a>
			</div>
			<p>Pilar, Buenos Aires. <span>Argentina</span></p>
		</div>
		</div>


	</main>
</Layout>

<style>


html,body{
	background: black;
	color: white;
}
.center{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
h1{
	font-size: 28px;
	font-weight: 400;
}
p{
	color: #B5B5B5;
	margin-top: 30px;
}
.text{
	flex-direction: column;
	display: flex;
	font-size: 27px;
	gap: 3px;
	font-weight: 300;
}
.row{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
@media screen and (min-width: 768px) {
	.row{
		gap: 40px;
	}
	h1{
		font-size: 32px;
	}
	.text{
		font-size: 72px;
	}

	a{
		transition: all 0.3s ease-out;
		&:hover{
			color: #B49F7F;
		}
	}
	p {
		font-size: 18px;
		font-weight: 300;
		span{
			display: block;
		}
	}

}

</style>

