---
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import Clients from '@/components/Home/Clients/Clients';

import Layout from '@/layouts/Layout';


---

<Layout title="Contacto" >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>
    <h1>Contacto</h1>



	</main>
</Layout>

<style>


</style>

