---
import Footer from '@/components/common/Footer';
import Header from '@/components/common/Header';
import Layout from '@/layouts/Layout';


---

<Layout title="Cs Arq | Home" description='description del site'>
	<main>
		<Header />
		<Footer />
	</main>
</Layout>

<style>


</style>
