---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import Clients from '@/components/Home/Clients/Clients';

import Hero from '@/components/Home/Hero/Hero';
import Proposal from '@/components/Home/Proposal/Proposal';
import Services from '@/components/Home/Services/Services';
import Layout from '@/layouts/Layout';


---

<Layout title="Home" >
	<main>
		<Header class={'header header-home'} />
		<Hero />

		<div class="bg">
		<Proposal />
		<Clients />
		<Services />
		<CallToAction />

		<Footer />
	</div>
	</main>
</Layout>

<style>
	main:before {
    content: '';
    position: absolute;
    box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, .3);
    width: 100%;
		top: 0;
		left: 0;
    z-index: 2;
}
.bg{
	background-color: white;
}

</style>

