---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import Hero from '@/components/Home/Hero/Hero';
import Layout from '@/layouts/Layout';


---

<Layout title="Home" >
	<main>
		<Header />
		<Hero />
		<CallToAction />
		<Footer />

	</main>
</Layout>

<style>


</style>
