---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import Clients from '@/components/Home/Clients/Clients';

import Hero from '@/components/Home/Hero/Hero';
import Proposal from '@/components/Home/Proposal/Proposal';
import Services from '@/components/Home/Services/Services';
import Layout from '@/layouts/Layout';


---

<Layout title="Home" >
	<main>
		<Header class={'header header-home'} />
		<Hero />
		<Proposal />
		<Clients />
		<Services />
		<CallToAction />

		<Footer />

	</main>
</Layout>

<style>


</style>

