---
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';

import Layout from '@/layouts/Layout';


---

<Layout title="Estudio" >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>
    <h1>estudio!</h1>

		<Footer />

	</main>
</Layout>

<style>


</style>

