---
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import Clients from '@/components/Home/Clients/Clients';

import Layout from '@/layouts/Layout';


---

<Layout title="Proyectos" >
	<main>
		<Header class={'header'} />
		<div style={{height:'150px'}}></div>
    <Clients />

		<Footer />

	</main>
</Layout>

<style>


</style>




