---
import CallToAction from '@/components/Common/CallToAction/CallToAction';
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import ClientsGrid from '@/components/Home/Clients/ClientsGrid';

import Layout from '@/layouts/Layout';


---

<Layout title="Proyectos de Arquitectura en Pilar Buenos Aires" >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>

		<section>
			<header>
				<div class="row">
					<h1>Nuestros Proyectos </h1>
					<h2><b>— Innovación y diseño en cada detalle</b></h2>
					<p>Explora nuestra colección de proyectos arquitectónicos que reflejan nuestra dedicación al diseño innovador y a la excelencia en la construcción. Cada obra es una manifestación de nuestra visión, donde la funcionalidad y la estética se integran para crear espacios únicos que inspiran y mejoran la vida de quienes los habitan</p>
				</div>
			</header>

			<div class="row">

				<ClientsGrid />

			</div>
		</section>
		<CallToAction />
		<Footer />

	</main>
</Layout>

<style>


header{
	margin-bottom: 30px;
}
h1{
	font-weight: 400;
	font-size: 28px;
	margin: 2px 0 0;
}
h2{
	font-weight: 300;
	font-size: 18px;
	margin: 3px 0 25px;
	b{
		font-weight: 400;
	}

}
p{
	font-size: 16px;
	line-height: 1.4;
	color: #565656;
}
section{
	margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
	header{
		padding: 40px 0;
	}
	h1{
		font-weight: 300;
		font-size: 66px;
		margin: 2px 0 0;
	}
	h2{
		font-weight: 200;
		font-size: 62px;
	}
	p{
		color: #444;
		font-size: 22px;
		line-height: 1.5;
		font-weight: 300;
		margin: 40px 0 0 120px;
	}
}

</style>




