---
import Footer from '@/components/Common/Footer/Footer';
import Header from '@/components/Common/Header/Header';
import ClientsGrid from '@/components/Home/Clients/ClientsGrid';

import Layout from '@/layouts/Layout';


---

<Layout title="Proyectos" >
	<main>
		<Header class={'header'} />
		<div style={{height:'100px'}}></div>

		<section>
			<div class="row">
				<h1>Proyectos</h1>
			</div>

			<ClientsGrid />
		</section>
		<Footer />

	</main>
</Layout>

<style>

h1{
	margin-bottom: 30px;
}
section{
	margin-bottom: 80px;
}

</style>




