---

---

<footer>
  <div class="row">
    <div class="footer_top">

      <div class="footer_nav">
        <a href="/estudio" class="footer_nav_a" title="Estudio">Estudio</a>
        <a href="/proyectos" class="footer_nav_a" title="Proyectos">Proyectos</a>
        <a href="/contacto" class="footer_nav_a" title="Contacto">Contacto</a>
      </div>

      <div class="footer_links">
        <a href="tel:011 6192 9448" class="footer_links_a" title="011 6192 9448">011 6192 9448</a>
        <a href="https://instagram.com/@csarquitectura" class="footer_links_a" title="@csarquitectura">@csarquitectura</a>
        <a href="mailto:info@csarquitectura.com" class="footer_links_a" title="info@csarquitectura.com">info@csarquitectura.com</a>
      </div>

      <a href="/" class="logo" title="CS arquitectura" aria-label="CS arquitectura">
        <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.1172 49.0699V1.00699" stroke="white"/>
          <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
        </svg>
      </a>

    </div>

    <div class="footer_bottom">
      <span class="footer_copy">© 2024 CS arquitectura</span>
      <span class="footer_author">Design & Coded with ❤ by PB</span>
    </div>

  </div>
</footer>


<style>
  footer{
    background: black;
    color: white;
    padding: 30px 0 40px;

  }
  .footer_bottom,
  .footer_top,
  .footer_links,
  .footer_nav{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .footer_top{
    gap: 20px;
  }
  .footer_nav {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    gap: 7px;
    letter-spacing: 1px;
}
  .footer_bottom{
    margin-top: 20px;
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
  }
  .footer_links {
    margin: 0 0 -75px;
}
  .logo{
    align-items: flex-end;
    text-align: right;
  }
</style>