---
import { siteLinks } from "src/data/site.config";
const currentPath = Astro.url.pathname;

---

<footer>
  <div class="row">
    <div class="footer_top">

      <div class="footer_nav">

        {
          siteLinks.map(({ href, text }, index) => (

                  (currentPath === href || (href === '/proyectos/' && currentPath.startsWith('/proyectos/'))) ? (


                  <a href={href} class="footer_nav_a active">
                    <span class="link">{text}</span>
                  </a>

                ) : (
                 <a href={href} class="footer_nav_a">
                    <span class="link">{text}</span>
                  </a>

                )

          ))
        }
        <!-- <a href="/estudio" class="footer_nav_a" title="Estudio"><span class="link">Estudio</span></a>
        <a href="/proyectos" class="footer_nav_a" title="Proyectos"><span class="link">Proyectos</span></a>
        <a href="/contacto" class="footer_nav_a" title="Contacto"><span class="link">Contacto</span></a> -->
      </div>

      <div class="footer_links">
        <a href="tel:+541161929448" class="footer_links_a" title="011 6192 9448"><span class="link">011 6192 9448</span></a>
        <a href="https://instagram.com/@csarquitectura" class="footer_links_a" title="@csarquitectura"><span class="link">@csarquitectura</span></a>
        <a href="mailto:info@csarquitectura.com" class="footer_links_a" title="info@csarquitectura.com"><span class="link">info@csarquitectura.com</span></a>
      </div>

      <a href="/" class="logo" title="CS arquitectura" aria-label="CS arquitectura">
        <svg class="logo-svg"width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.1172 49.0699V1.00699" stroke="white"/>
          <path d="M21.1194 33.7942H1M1 33.7942V15.1651C1 15.1651 5.84356 1.37961 21.1194 1.00703C33.3401 0.708962 39.0033 9.94898 40.8662 18.1458V49.07H1V33.7942Z" stroke="white"/>
        </svg>
      </a>

    </div>


    <div class="footer_bottom">
      <span class="footer_copy">© {new Date().getFullYear()} CS arquitectura</span>
      <span class="footer_author">Design & Coded with ❤ by <a href="https://www.patriciobalina.com.ar/" target="_blank" title="Patricio Baliña">PB</a></span>
    </div>

  </div>
</footer>


<style>
  footer{
    background: black;
    color: white;
    padding: 30px 0 40px;

  }
  .footer_bottom,
  .footer_top,
  .footer_links,
  .footer_nav{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 16px;
  }
  a{
    padding: 5px 0;
  }

  .footer_top{
    gap: 20px;
    position: relative;
  }
  .footer_nav {
    text-transform: uppercase;
    font-weight: 300;
    /* font-size: 20px; */
    gap: 3px;
    letter-spacing: 1px;

}
  .footer_bottom{
    margin-top: 20px;
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
  }


  .logo{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .link {
    position: relative;
  }
  .link:after {
    content: '';
    border-bottom: 2px solid #B49F7F;
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: 2px;
    top: 0;
    left: 0px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  .active .link::after {
      visibility: visible;
      opacity: 0.7;
      width: 100%;
    }
  @media screen and (min-width: 768px) {

    footer{
      padding: 50px 0 40px;
    }
    .footer_top{
      flex-direction: row;
      justify-content: space-between;
    }
    .logo{
      flex: 0 0 50%;
      position: relative;
      align-items: flex-end;
      text-align: right;
    }
    .footer_nav {
      gap: 10px;
    }
    .footer_links{
      font-weight: 300;
      font-size: 15px;
      margin: 0;
      gap: 10px;
    }
    .footer_bottom{
      font-size: 14px;
      margin-top: 40px;
      font-weight: 300;
    }

    .link:after {
      margin-top: 4px;
    }

    a{
      padding: 2px 0;
    }

    .link:hover::after {
      visibility: visible;
      opacity: 0.7;
      width: 100%;
    }

  }








</style>
