---
import { Image } from "astro:assets";
import Image1 from '../../../assets/images/clientes/sample2.jpg'

---

<div class="card">
  <figure>

    <Image
            class="img"
            src={Image1}
            width={Image1.width / 2}
            densities={[1.5, 2]}
            alt="Somos un estudio de arquitectura"
          />
  </figure>
</div>